# Project exclude paths
/dev/node_modules/
/assets/components/pdotools/
/assets/components/sendit/
/core/xpdo/
/core/model/
/core/elements/
/core/config/
/manager/
/temp/
/.idea/
/.htaccess
/config.core.php
/connectors/
/core/components/minishop2/
/core/components/pdotools/
/core/components/sendit/
/assets/flatfilters-1.0.0-beta.transport.zip
/core/packages/flatfilters-1.0.0-beta.transport.zip
/assets/components/sendit/
/assets/components/sendit/
/core/ht.access
/core/packages/
/core/lexicon/
/core/import/
/core/export/
/core/error/
/core/docs/
/core/components/translitor/
/core/components/msdemodata/
/core/components/migx/
/core/components/formit/
/core/components/dbadmin/
/core/components/controlerrorlog/
/core/components/console/
/core/components/ace/
/core/cache/
/assets/images/
/assets/components/ace/
/assets/components/controlerrorlog/
/assets/components/dbadmin/
/assets/components/formit/
/assets/components/migx/
/assets/components/minishop2/
/assets/components/msdemodata/
/index.php
/assets/flatfilters-1.0.0-rc4.transport.zip
/assets/bootstrap.min.css
/assets/jquery.min.js
/core/components/sendsay/services/logs/02-09-2024.txt
/core/components/sendsay/services/logs/09-09-2024.txt
/core/components/sendsay/services/sendsay/ApiClient.php
/core/components/sendsay/services/vendor/autoload.php
/core/components/sendsay/services/vendor/composer/autoload_classmap.php
/core/components/sendsay/services/vendor/composer/autoload_namespaces.php
/core/components/sendsay/services/vendor/composer/autoload_psr4.php
/core/components/sendsay/services/vendor/composer/autoload_real.php
/core/components/sendsay/services/vendor/composer/autoload_static.php
/core/components/sendsay/services/sendsay/Base.php
/core/components/sendsay/docs/changelog.txt
/core/components/sendsay/services/vendor/composer/ClassLoader.php
/core/components/sendsay/services/composer.json
/core/components/sendsay/services/composer.lock
/core/components/sendsay/lexicon/ru/default.inc.php
/core/components/sendsay/services/vendor/composer/installed.json
/core/components/sendsay/services/vendor/composer/InstalledVersions.php
/core/components/sendsay/services/vendor/composer/LICENSE
/core/components/sendsay/docs/license.txt
/core/components/sendsay/services/helpers/Logging.php
/core/components/sendsay/services/helpers/QueueManager.php
/core/components/sendsay/docs/readme.txt
/core/components/sendsay/services/helpers/Request.php
/core/components/sendsay/services/sendsay/Sales.php
/core/components/sendsay/elements/snippets/salesconnector.php
/assets/components/sendsay/js/web/sendsay.js
/core/components/sendsay/elements/plugins/sendsay.php
/assets/components/sendsay/ssehandler.php
/core/components/sendsay/elements/snippets/hooks/subscribe.php
/core/components/sendsay/services/sendsay/Subscriber.php
