# Project exclude paths
/dev/node_modules/
/assets/components/pdotools/
/assets/components/sendit/
/core/xpdo/
/core/model/
/core/elements/
/core/config/
/manager/
/temp/
/.idea/
/.htaccess
/config.core.php
/connectors/
/core/components/minishop2/
/core/components/pdotools/
/core/components/sendit/
/assets/flatfilters-1.0.0-beta.transport.zip
/core/packages/flatfilters-1.0.0-beta.transport.zip
/assets/components/sendit/
/assets/components/sendit/
/core/ht.access
/core/packages/
/core/lexicon/
/core/import/
/core/export/
/core/error/
/core/docs/
/core/components/translitor/
/core/components/msdemodata/
/core/components/migx/
/core/components/formit/
/core/components/dbadmin/
/core/components/controlerrorlog/
/core/components/console/
/core/components/ace/
/core/cache/
/assets/images/
/assets/components/ace/
/assets/components/controlerrorlog/
/assets/components/dbadmin/
/assets/components/formit/
/assets/components/migx/
/assets/components/minishop2/
/assets/components/msdemodata/
/index.php
/assets/flatfilters-1.0.0-rc4.transport.zip
