@each $k1, $v1 in $offsets-clamp{
  .gap-#{$k1}{
    gap: clamp(#{nth($v1,2)}px, #{math.div(nth($v1,1) * 100, $layout-width)}vw, #{nth($v1,1)}px);
  }
  .gap_col-#{$k1}{
    column-gap: clamp(#{nth($v1,2)}px, #{math.div(nth($v1,1) * 100, $layout-width)}vw, #{nth($v1,1)}px);
  }
  .gap_row-#{$k1}{
    row-gap: clamp(#{nth($v1,2)}px, #{math.div(nth($v1,1) * 100, $layout-width)}vw, #{nth($v1,1)}px);
  }
}

@for $i from 0 through $offsets{
  .gap-#{$i * $offsets-step}{
    gap: #{$i * $offsets-step}px
  }
  .gap_col-#{$i * $offsets-step}{
    column-gap: #{$i * $offsets-step}px
  }
  .gap_row-#{$i * $offsets-step}{
    row-gap: #{$i * $offsets-step}px
  }
}
@each $k, $v in $breakpoints{
  @media (min-width: $v){
    @for $i from 0 through $offsets{
      .gap_#{$k}-#{$i * $offsets-step}{
        gap: #{$i * $offsets-step}px
      }
      .gap_col_#{$k}-#{$i * $offsets-step}{
        column-gap: #{$i * $offsets-step}px
      }
      .gap_row_#{$k}-#{$i * $offsets-step}{
        row-gap: #{$i * $offsets-step}px
      }
    }
    @each $k1, $v1 in $offsets-clamp{
      .gap_#{$k}-#{$k1}{
        gap: clamp(#{nth($v1,2)}px, #{math.div(nth($v1,1) * 100, $layout-width)}vw, #{nth($v1,1)}px);
      }
      .gap_col_#{$k}-#{$k1}{
        column-gap: clamp(#{nth($v1,2)}px, #{math.div(nth($v1,1) * 100, $layout-width)}vw, #{nth($v1,1)}px);
      }
      .gap_row_#{$k}-#{$k1}{
        row-gap: clamp(#{nth($v1,2)}px, #{math.div(nth($v1,1) * 100, $layout-width)}vw, #{nth($v1,1)}px);
      }
    }
  }
}