.flex__col_auto {
  width: auto;
}
@for $i from 1 through $columns{
  .flex__col-#{$i} {
    width: calc(100% * #{$i} / #{$columns});
  }
}
@each $k, $v in $breakpoints{
  @media (min-width: $v){
    .flex__col_#{$k}_auto {
      width: auto;
    }
    @for $i from 1 through $columns{
      .flex__col_#{$k}-#{$i} {
        width: calc(100% * #{$i} / #{$columns});
      }
    }
  }
}