.jc_between{
  justify-content: space-between;
}
.jc_start{
  justify-content: flex-start;
}
.jc_end{
  justify-content: flex-end;
}
.jc_center{
  justify-content: center;
}

@each $k, $v in $breakpoints{
  @media (min-width: $v){
    .jc_#{$k}_between{
      justify-content: space-between;
    }
    .jc_#{$k}_start{
      justify-content: flex-start;
    }
    .jc_#{$k}_end{
      justify-content: flex-end;
    }
    .jc_#{$k}_center{
      justify-content: center;
    }
  }
}