.link{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  transition: all #{$transition-duration}s;
  &:hover{
    opacity: .7;
  }
}
.link:disabled, .link_disabled{
  @include disabled;
}