@for $i from 0 through $positions{
  .bottom-#{$i * $positions-step}{
    bottom: #{$i * $positions-step + '%'};
  }
  .bottom_m-#{$i * $positions-step}{
    bottom: #{-1 * $i * $positions-step + '%'};
  }
}
@each $k, $v in $breakpoints{
  @media (min-width: $v){
    @for $i from 0 through $positions{
      .bottom_#{$k}-#{$i * $positions-step}{
        bottom: #{$i * $positions-step + '%'};
      }
      .bottom_m_#{$k}-#{$i * $positions-step}{
        bottom: #{-1 * $i * $positions-step + '%'};
      }
    }
  }
}