@for $i from 0 through $positions{
  .left-#{$i * $positions-step}{
    left: #{$i * $positions-step + '%'};
  }
  .left_m-#{$i * $positions-step}{
    left: #{-1 * $i * $positions-step + '%'};
  }
}
@each $k, $v in $breakpoints{
  @media (min-width: $v){
    @for $i from 0 through $positions{
      .left_#{$k}-#{$i * $positions-step}{
        left: #{$i * $positions-step + '%'};
      }
      .left_m_#{$k}-#{$i * $positions-step}{
        left: #{-1 * $i * $positions-step + '%'};
      }
    }
  }
}