@for $i from 0 through $positions{
  .right-#{$i * $positions-step}{
    right: #{$i * $positions-step + '%'};
  }
  .right_m-#{$i * $positions-step}{
    right: #{-1 * $i * $positions-step + '%'};
  }
}
@each $k, $v in $breakpoints{
  @media (min-width: $v){
    @for $i from 0 through $positions{
      .right_#{$k}-#{$i * $positions-step}{
        right: #{$i * $positions-step + '%'};
      }
      .right_m_#{$k}-#{$i * $positions-step}{
        right: #{-1 * $i * $positions-step + '%'};
      }
    }
  }
}