.progress {
  position: relative;

  &:before {
    content: '0%';
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: all #{$transition-duration}s;
  }

  .progress__value {
    transition: all #{$transition-duration}s;
    opacity: 0;
  }
}

.progress.active {
  &:before {
    opacity: 0;
  }

  .progress__value {
    opacity: 1;
  }
}