@for $i from 0 through $borders {
  .border-#{$i} {
    border: #{$i}px solid transparent;
  }
  .border_bottom-#{$i} {
    border-bottom: #{$i}px solid transparent;
  }
  .border_top-#{$i} {
    border-top: #{$i}px solid transparent;
  }
  .border_left-#{$i} {
    border-left: #{$i}px solid transparent;
  }
  .border_right-#{$i} {
    border-right: #{$i}px solid transparent;
  }
}

@each $k, $v in $base-colors {
  .border_#{$k} {
    border-color: var(--#{$k});
  }
}